body {
    background: rgb(102, 102, 212);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.307);
}

.box__count {
    display: flex;
}

.paragraph__box {
    padding: 0px 4px 0px 0px;
}

.number__box {
    height: 100%;
    margin-top: 21px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}